{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une technologie{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Modification de la technologie <span>{{ technology.name }}</span></h2>
            {{ include('admin/technology/_form.html.twig', {'submit_label': 'Modifier'}) }}
        </div>
    </section>
{% endblock %}

